/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/

/*global styles begin*/

body{font-family:'Roboto','Kanit','Arial','Helvetica',sans-serif;
font-size:clamp(10px,1vw,14px);
}
div{box-sizing:border-box;}
/*Global styles end*/
/*typo begin*/
div.rtf{}
div.rtf p{font-size:1em; line-height:1.5em; margin-bottom:0.5em;}
div.rtf h1{font-size:3.2em; line-height:1.5em; margin-bottom:0.5em; margin-top: 1em;}
div.rtf h2{font-size:2.4em; line-height:1.5em; margin-bottom:0.5em; margin-top: 1em;}
div.rtf h3{font-size:1.8em; line-height:1.5em; margin-bottom:0.5em; margin-top: 1em;}
div.rtf h4{font-size:1.2em; line-height:1.5em; margin-bottom:0.5em; margin-top: 1em;}
div.rtf h5{font-size:1em; line-height:1.5em; margin-bottom:0.5em; margin-top: 1em;}
/*typo end*/
/*header styles*/
header{position:fixed; top:0; left:0; right:0; display:grid;
	grid-template-columns: 60px 1fr 1fr; grid-gap:10px; background:#ffffff; color:#000000;
	z-index:10000;
}
header img{width:30px; margin:1em; align-self:center; justify-self:end;}
header p{font-size:1.2em; align-self:center; justify-self:start;}
header a.mail{text-decoration:none; align-self:center; justify-self:end; color:#000000;
	margin:0 20px;
}

/*Cards style begin*/
	div.cards{max-width:1200px; margin:0 auto; padding:3vw;
	grid-gap:3vw; display:grid; grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));}

	div.card img{width:100%;}
/*Cards style end*/

/*Image and text styles begin*/
div.img_txt{max-width:1200px; margin:0 auto;
	display:grid; grid-template-columns: 1fr 1fr; grid-gap:3vw; padding: 3vw;}
div.img_txt img{width:100%; margin-bottom:3vw;}
div.img-txt div.rtf{align-self:start;}

@media screen AND (orientation: portrait)
{
	div.img_txt{grid-template-columns: 1fr;}
	div.img-txt div.txt {grid-row-start:1;}
}


/*Image and text styles end*/
/*hero image styles begin*/
div.hero{min-height:100vh; position:relative;}
img.hero-img{width:100%; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
div.hero div.hero-text{position:absolute; top:50%; left:50%; top:50%; left:50%; transform:translate(-50%,50%);
font-size:6em; text-align:left; color:#000000; font-family: 'Kanit', sans-serif; }
div.hero div.hero-txt h2{margin:0}
/*hero image styles end*/
